/* maybe use #86b3d1 */

.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d6d9a;
    color: white;
}

#title {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.07em;
}

.main {
    background-color: #5F6366;
    display: flex;
}

.about {
    background-color: #5F6366;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 0.07em;
    border: 5px solid #99CED3;
    border-radius: 4px;
    width: 20%;
    padding: 8px;
    margin: 20px;
    margin-left: 40px;
    height: 100%;
}

.canvas-element {
    background-color: white;
    border: 5px solid #edb5bf;
    border-radius: 4px;
    margin: 20px;
    margin-right: 40px;
    display: flex;
    width: 70%;
}

.list-elements {
    float: left;
    width: 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    padding-top: 8px;
}

.list-elements button:hover {
    color: white;
    background-color: #669fbd;
}

.list-elements p button:focus {
    color: white;
    background-color: #669fbd;
}

#list {
    letter-spacing: 0.07em;
    width: 100%;
    height: 50px;
    margin-top: 2px;
    padding-left: 5px;
}

#canvas {
    width: 65%;
    max-width: 500px;
    min-width: 300px;
    margin-left: 20px;
}

.footer {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d6d9a;
    color: white;
}

.footer a {
    width: 45px;
    height: 45px;
    margin: 0px 50px;
}